body{
    padding-bottom: 100px;
    font-family: 'Lato', sans-serif;
    justify-content: center;
}

.grid{
   display: grid;
   grid-template-columns: 200px 200px 200px;
   grid-template-rows:
}

.padding{
    padding-top: 5%;
}
/* navbar */
.navbar-custom {
    background-color: rgb(0, 0, 0, 0.5);
}
.navbar-brand{
    color: white;
    font-size: 30px;
}

.nav-link{
    color: white;
    font-size: 15px;
    text-transform: uppercase;
}

.fa-bars{
    color: white;
    transform: scale(1.5);
}

#menu{
    color: white;   
    font-size: 15px;
    margin-left: 10px;
}
/* END END END home page - navbar */


/* START START START home page - block 1 PARALAX */


#titlemenu {
    position: absolute;
    top: 300px;
    right: 5vw;
    animation: titlemenu 3s ease-out;
  }




@keyframes titlemenu
{
  0% {
    top: -300px;
  }
  100% {
    top: 300px;;
  }
}

#titlemenu h1 {
    font-size: 100px;
    text-align: right;
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
}

#titlemenu h3 {
    font-size: 30px;
    text-align: right;
    color: white;
    /* text-transform: uppercase; */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
}

.parallax { 
    /* The image used */
 
    height: 700px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }



.custom-button-white:hover{

    color:#203c48;
    background-color:white;
    border-style:solid;
    border-width:1px;
    border-color:white;
}

/* END END END home page - block 1 */
.education{
   color: #0a0401;
}
.experience{
   
 background-image: linear-gradient(90deg,rgb(9, 36, 185), #0a0401); /* Standard */
    
}
.project{
    background-image: linear-gradient(90deg,rgb(9, 36, 185), #0a0401); /* Standard */

}
.skills{
    background-image: linear-gradient(90deg,rgb(9, 36, 185), #0a0401); /* Standard */
}

.home{
    height: 500px;
    background-image: url("../images/matrix.jpg");
}

.font {
    color: white;
}
.font2 {
    color: navy;
}

.custom-button:hover{
    background-color:rgba(0,118,229,0);
    border-style:solid;
    border-width:1px;
    border-color:#0076e5;
}

#center-div {
    padding: 0px 0px 0px 0px;
    border: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

.li{
    list-style: none;
}

.breakpage{
    height: 150px;
    background-color: rgb(115, 210, 254,1); /* For browsers that do not support gradients */
    background-image: linear-gradient(90deg,rgb(9, 36, 185), #0a0401); /* Standard */

}




/* side bar - start */
#dismiss{
    display: none;
  }
  
  @media (max-width: 991px) {
  #navbar-sidebar {
      position: fixed;
      top: 0;
      opacity: 0;
      left: -250px;
      display: block;
      width: 250px;
      height: 100vh; 
      z-index: 999;
      background: rgb(254, 136, 115, 1); /*change background*/
      overflow-y: hidden;
      padding: 0 15px;
      box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);

      transition: all 0.3s ease-in;
  }
  
  #navbar-sidebar.active {
      left: 0;
      opacity:1;
 }
  
  }
  
  #dismiss:hover {
      background: #fff;
      color: #666;
  }

  
  .overlay.active {
      display: block;
      opacity: 1;
  }  
    

  /* side bar - end */